<div>
  <div style="float: left" class="myCard col-lg-6 col-sm-12">
    <mat-card>
      <h2> {{nameOfAttraction}}</h2>
      <h6>{{details}}</h6>
      <hr>
      <h4>Program:</h4> <div style="font-size: x-small">M: {{dailySchedule(0)}}</div>
      <div style="font-size: x-small">T: {{dailySchedule(1)}}</div>
      <div style="font-size: x-small">W: {{dailySchedule(2)}}</div>
      <div style="font-size: x-small">T: {{dailySchedule(3)}}</div>
      <div style="font-size: x-small">F: {{dailySchedule(4)}}</div>
      <div style="font-size: x-small">S: {{dailySchedule(5)}}</div>
      <div style="font-size: x-small">S: {{dailySchedule(6)}}</div>
      <hr>
      <div><h6>Address: {{name}} {{address}}</h6></div>
    </mat-card>
  </div>
  <div style="float: right" class=" myCard col-lg-6 col-sm-12 " [ngStyle]="{'display':isEmpty() ? 'none' : 'initial'}">
    <mat-card>
      <div>
        <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true">
          <ng-template ngbSlide *ngFor="let picture of gallery">
            <img src="./assets/img/{{picture.fileName}}" alt="Picture {{picture.id}}">
            <div class="carousel-caption">
              <h5>{{picture.description}}</h5>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </mat-card>
  </div>
  <div style="float: left" class="myCard col-lg-6 col-sm-12">
    <mat-card>
      <app-specific-map [lat]="lat" [lng]="lng"></app-specific-map>
    </mat-card>
  </div>
</div>
