<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light " style="background-color: #c0d5b2 !important;">
  <img alt="ClujTour" src="assets/img/ClujTourLogo.png">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/sights">Sights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/about">About our city</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/trips">Random Tour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/preferences">Personalized Tour</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/login">Logout</a>
      </li>
    </ul>
    <span class="navbar-text font-italic">
      Let us introduce you to Cluj Napoca
    </span>
  </div>
</nav>
