<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="jumbotron">
  <div class="title">Set your Preferences - Rate the following attractions</div>
  <br>
  Churches
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="value1"
    tickInterval="1000"
    min="0"
    max="5"></mat-slider><br>
  Galleries
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="value2"
    tickInterval="1000"
    min="0"
    max="5"></mat-slider><br>
  Theatres and Operas
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="value3"
    tickInterval="1000"
    min="0"
    max="5"></mat-slider><br>
  Cinemas
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="value4"
    tickInterval="1000"
    min="0"
    max="5"></mat-slider><br>
  Parcs
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="value5"
    tickInterval="1000"
    min="0"
    max="5"></mat-slider><br>
  Monuments
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="value6"
    tickInterval="1000"
    min="0"
    max="5"></mat-slider><br>
  Old Buildings
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="value7"
    tickInterval="1000"
    min="0"
    max="5"></mat-slider><br>
  Shopping Centers
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="value8"
    tickInterval="1000"
    min="0"
    max="5"></mat-slider><br>
  Museums
  <mat-slider
    thumbLabel
    [displayWith]="formatLabel"
    [(ngModel)]="value9"
    tickInterval="1000"
    min="0"
    max="5"></mat-slider><br>
  <hr>
  <a ><button mat-button class="continue" (click)="continue()">Continue</button></a>
</div>
