<div class="row">
  <div class="flex-column col-lg-4 col-sm-12">
    <mat-card>
      <div class="card-body">
        <a [routerLink]="['/details-tour', ids1[0], ids1[1], ids1[2], ids1[3], ids1[4]]">
          <h5 class="card-title">Tour 1</h5>
          <mat-list>
            <mat-list-item *ngFor="let name of getNames()">
              <p mat-line> {{name}} </p>
            </mat-list-item>
          </mat-list>
          <hr>
          <agm-map [latitude]="46.770439" [longitude]="23.591423">
            <agm-direction [origin]="geolocs1[0]" [destination]="geolocs1[1]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
            <agm-direction [origin]="geolocs1[1]" [destination]="geolocs1[2]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
            <agm-direction [origin]="geolocs1[2]" [destination]="geolocs1[3]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
            <agm-direction [origin]="geolocs1[3]" [destination]="geolocs1[4]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
          </agm-map>
        </a>
      </div>
    </mat-card>
  </div>
  <div class="flex-column col-lg-4 col-sm-12">
    <mat-card>
      <div class="card-body">
        <a [routerLink]="['/details-tour', ids2[0], ids2[1], ids2[2], ids2[3], ids2[4]]">
          <h5 class="card-title">Tour 2</h5>
          <mat-list>
            <mat-list-item *ngFor="let name of getNames2()">
              <p mat-line> {{name}} </p>
            </mat-list-item>
          </mat-list>
          <hr>
          <agm-map [latitude]="46.770439" [longitude]="23.591423">
            <agm-direction [origin]="geolocs2[0]" [destination]="geolocs2[1]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
            <agm-direction [origin]="geolocs2[1]" [destination]="geolocs2[2]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
            <agm-direction [origin]="geolocs2[2]" [destination]="geolocs2[3]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
            <agm-direction [origin]="geolocs2[3]" [destination]="geolocs2[4]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
          </agm-map>
        </a>
      </div>
    </mat-card>
  </div>
  <div class="flex-column col-lg-4 col-sm-12">
    <mat-card>
      <div class="card-body">
        <a [routerLink]="['/details-tour', ids3[0], ids3[1], ids3[2], ids3[3], ids3[4]]">
          <h5 class="card-title">Tour 3</h5>
          <mat-list>
            <mat-list-item *ngFor="let name of getNames3()">
              <p mat-line> {{name}} </p>
            </mat-list-item>
          </mat-list>
          <hr>
          <agm-map [latitude]="46.770439" [longitude]="23.591423">
            <agm-direction [origin]="geolocs3[0]" [destination]="geolocs3[1]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
            <agm-direction [origin]="geolocs3[1]" [destination]="geolocs3[2]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
            <agm-direction [origin]="geolocs3[2]" [destination]="geolocs3[3]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
            <agm-direction [origin]="geolocs3[3]" [destination]="geolocs3[4]" [markerOptions]="markerOptions"
                           [renderOptions]="renderOptions">
            </agm-direction>
          </agm-map>
        </a>
      </div>
    </mat-card>
  </div>
</div>
