<div class="card-columns">

  <a href="#">
    <div class="card"  >
      <img class="card-img-top" src="assets/img/Church of the Holy Trinity 2..jpg" alt="Card image"  matTooltip="Click to see more details!">
      <div class="card-body  ">
        <h3 class="card-title">Holy trinity Church.</h3>
        <div class="card-text"> Romano catholic church.</div>
      </div>
    </div>
  </a>

  <div class="card">
    <img class="card-img-top" src="assets/img/The Franciscan Monastery and Church1.jpg" alt="Card image">
    <div class="card-body ">
      <h3 class="card-title">Franciscan Monastery and Church.</h3>
      <div class="card-text"> Romano catholic church.</div>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/st. michael church 1.jpg" alt="Card image">
  <div class="card-body ">
      <h3 class="card-title">St. michael Church.</h3>
    <div class="card-text"> Romano catholic church.</div>
  </div>
  </div>


  <a href="#" >
  <div class="card">
    <img class="card-img-top" src="assets/img/Assumption Cathedral1.jpg" alt="Card image">
    <div class="card-body ">
      <h3 class="card-title">Assumption Cathedral.</h3>
      <div class="card-text"> Orthodox church.</div>
    </div>
  </div>
  </a>


  <div class="card">
    <img class="card-img-top" src="assets/img/Church of the Holy Trinity.1.jpg" alt="Card image">
    <div class="card-body ">
      <h3 class="card-title">Holy trinity Church.</h3>
      <div class="card-text"> Romano catholic church.</div>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/The Franciscan Monastery and Church 3.jpg" alt="Card image">
    <div class="card-body ">
      <h3 class="card-title">Franciscan Monastery and Church.</h3>
      <div class="card-text"> Romano catholic church.</div>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/st. michael church 3.jpg" alt="Card image">
    <div class="card-body ">
      <h3 class="card-title">St. michael Church.</h3>
      <div class="card-text"> Romano catholic church.</div>
    </div>
  </div>

  <a src="#" class="custom-card">
  <div class="card">
    <img class="card-img-top" src="assets/img/Assumption Cathedral3.jpg" alt="Card image">
    <div class="card-body ">
      <h3 class="card-title">Assumption Cathedral.</h3>
      <div class="card-text"> Orthodox church.</div>
    </div>
  </div>
  </a>

  <div class="card">
  <img class="card-img-top" src="assets/img/Church of the Holy Trinity 3.jpg" alt="Card image">
  <div class="card-body ">
    <h3 class="card-title">Holy trinity Church.</h3>
    <div class="card-text"> Romano catholic church.</div>
  </div>
</div>

  <div class="card">
    <img class="card-img-top" src="assets/img/The Franciscan Monastery and Church 2.jpg" alt="Card image">
    <div class="card-body ">
      <h3 class="card-title">Franciscan Monastery and Church.</h3>
      <div class="card-text"> Romano catholic church.</div>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/st. michael church 2.jpg" alt="Card image">
    <div class="card-body ">
      <h3 class="card-title">St. michael Church.</h3>
      <div class="card-text"> Romano catholic church.</div>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="assets/img/Assumption Cathedral2.jpg" alt="Card image">
    <div class="card-body ">
      <h3 class="card-title">Assumption Cathedral.</h3>
      <div class="card-text"> Orthodox church.</div>
    </div>
  </div>





</div>
