<div class="jumbotron">
  <div class="title text-center">Sign in</div>
  <hr class="my-4">
  <form [formGroup]="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" class="example-form">
    <mat-form-field class="nameInput">
      <input matInput placeholder="Username" formControlName="username"
             [errorStateMatcher]="matcher" (keyup)="getUsrname($event)">
      <mat-error *ngIf="form.get('username').hasError('pattern')">
        Enter a valid username.
      </mat-error>
      <mat-error *ngIf="form.get('username').hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    &nbsp;
    <mat-form-field>
      <input matInput formControlName="password" placeholder="Enter your password"
             [type]="hide ? 'password' : 'text'" (keyup)="getPassword($event)">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    <mat-error *ngIf="form.get('password').hasError('minlength')">
      Your password should have at least 6 characters.
    </mat-error>
    <mat-error *ngIf="form.get('password').hasError('maxlength')">
      Your password should have maximum 24 characters.
    </mat-error>
    &nbsp;
    <button mat-button class="signInButton">Sign in</button>
    <br/>
    <div class="signUpError">
      <mat-error>{{errorMessage}}</mat-error>
    </div>
    <button mat-button class="signUpButton" routerLink="/register">You don't have an account? Sign up</button>
  </form>
</div>

