<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="jumbotron">
  <div class="title">Choose your preferences</div>
  <hr class="my-4">
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Budget" type="number" class="example-left-align">
      <span matSuffix>RON</span>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Duration" type="number" >
      <span matSuffix>hours</span>
    </mat-form-field>
  </div>
  <mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let interest of interests" [selectable]="selectable"
                [removable]="removable" (removed)="remove(interest)">
        {{interest.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Your Intersts"
             [matChipInputFor]="chipList"
             #fruitInput
             [matAutocomplete]="auto"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="addOnBlur"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let interest of interests | async" [value]="interest">
        {{interest}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
